




#forgot {
	margin-bottom: 32px;
	font-family: 'Roboto';
	font-size: 10px;
	color: white;
	letter-spacing: 1px;
}


#register {
	height: 34px;
	width: 100%;
	float: center;
	color: #eee;
	border-radius: 4px;
	background-color: #124559;
	border: 0px;
	outline: 0px;
	margin-bottom:8px;
	margin-top:8px;
}

#signInWith {
	margin-top: 16px;
}

.socialBox {
	margin-top: 16px;
}

#facebookButtonColumn {
	padding-left: 0px !important;
	padding-right: 4px !important;
}

#gitButtonColumn {
	padding-left: 4px !important;
	padding-right: 0px !important;
}

#lowerSocial {
	margin-top: 8px;
}

#googleButtonColumn {
	padding-left: 0px !important;
	padding-right: 4px !important;
}

#twitterButtonColumn {
	padding-left: 4px !important;
	padding-right: 0px !important;
}

#singleButtonColumn {
	padding: 0;
}

#faceButton {
	background-color: #3b5998;
	border: 0px;
	outline: 0px;
}

#gitButton {
	background-color: black;
	border: 0px;
	outline: 0px;
}

#twittButton {
	background-color: #1dcaff;
	border: 0px;
	outline: 0px;
}





@media (max-width: 992px){
	
	#facebookButtonColumn {
		padding-left: 0px !important;
		padding-right: 0px !important;
		margin-bottom:2px;
	}
	
	#gitButtonColumn {
		padding-left: 0px !important;
		padding-right: 0px !important;
		margin-bottom:2px;
	}
	
	#lowerSocial {
		margin-top: 0px;
	}
	
	#googleButtonColumn {
		padding-left: 0px !important;
		padding-right: 0px !important;
		margin-bottom:2px;
	}
	
	#twitterButtonColumn {
		padding-left: 0px !important;
		padding-right: 0px !important;
		margin-bottom:2px;
	}
}
